.lista-categoria {
  margin-bottom: 30px;
}

.lista-categoria h2 {
  margin: 0 0 0 30px;
}

.lista-categoria-area {
  overflow-x: hidden;
  padding-left: 30px;
}

.lista-categoria-itens {
  transition: all ease 0.5s;
}

.lista-categoria-item {
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
}

.lista-categoria-item img {
  width: 100%;
  transform: scale(0.95);
  transition: all ease 0.3s;
  border-radius: inherit;
}

.lista-categoria-item img:hover {
  transform: scale(1.03);
  border-radius: inherit;
}

.lista-categoria-botao-esquerdo,
.lista-categoria-botao-direito {
  position: absolute;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}

.lista-categoria-botao-esquerdo {
  left: 0;
}

.lista-categoria-botao-direito {
  right: 0;
}

.lista-categoria:hover .lista-categoria-botao-esquerdo,
.lista-categoria:hover .lista-categoria-botao-direito {
  opacity: 1;
}

@media (max-width: 760px) {
  .lista-categoria-botao-esquerdo,
  .lista-categoria-botao-direito {
    opacity: 1;
  }
}
